@import "tailwindcss";

.card-bg {
  background-color: rgba(17, 24, 39);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-glow {
  text-shadow: 0 0 8px rgba(187, 247, 208, 0.3),
    0 0 20px rgba(167, 243, 208, 0.3);
}
